<div class='navigation' ng-controller="NavController">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href='/#/' class='index'>Jobs</a></li>
      <li><a href='/#/clients' class='clients'>Clients</a></li>
      <li><a ng-click="logoutUser()" href='/#/login' class='add'>Logout</a></li>
    </ul>
  </nav>
</div>

<form ng-submit="addJob(job)" class="form-group" id="addJob">
  <label>Client:</label>
    <select ng-model="job.client" class="form-control" id="client">
        <option ng-repeat="client in clients">{{client.name}}</option>
    </select>
    <a href="/#/clients" id="no_client">Don't see your client? Create a new client here.</a>
    <br/>
    <br/>
    <label>Description:</label>
      <input ng-model="job.description" class="form-control" id="description" type="text"/><br/>
    <label>Rate: $</label>
      <input ng-model="job.rate" class="form-control" id="rate" type="text"/><br/>
    <label>Start:</label>
      <input ng-model="job.start" class="form-control" id="start" type="date"/><br/>
    <label>End:</label>
      <input ng-model="job.end" class="form-control" id="end" type="date"/><br/>
    <button class="submit btn btn-default">Add Job</button>
</form>

<table class="table table-striped">

  <thead>
      <th>Client</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Start</th>
      <th>End</th>
      <th>Status</th>
      <th>Id</th>
    </thead>
    <tr ng-repeat="job in jobs">
      <td>{{job.client.name}}</td>
      <td>{{job.description}}</td>
      <td>${{job.rate}}</td>
      <td>{{job.formattedStart}}</td>
      <td>{{job.formattedEnd}}</td>
      <td><input type="checkbox" {{checked}}></td>
      <td class='clickableJob'><a href='/#/jobs/{{job._id}}'>{{job._id}}</a></td>
    </tr>

</table>

