<form ng-submit="loginUser()" class="form-group">
    <div>
      <label for="email">Email:</label>
      <input ng-model="email" class="form-control" id="email" type="text" name="email">
    </div>
    <div>
      <br>
      <label for="password">Password:</label>
      <input ng-model="password" class="form-control"id="password" type="password" name="password">
    </div>
    <div>
      <br>
      <input class="btn btn-default" type="submit" value="Login">
    </div>
</form>

<p>
  <a href="/#/signup">Sign up for a new account &rarr;</a>
<p>
