<div class='navigation' ng-controller="NavController">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href='/#/' class='index'>Jobs</a></li>
      <li><a href='/#/clients' class='clients'>Clients</a></li>
      <li><a ng-click="logoutUser()" href='/#/login' class='add'>Logout</a></li>
    </ul>
  </nav>
</div>

<form ng-submit="addTask(task)" class="form-group" id="addJob">
    <label>Task description:</label>
      <input ng-model="task.name" lass="form-control" id="name" type="text"/><br/>
    <button class="submit btn btn-default">Start</button>
</form>

<table class="table table-striped">

  <thead>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
  </thead>
  <tr ng-repeat="task in tasks">
    <td>{{task.name}}</td>
    <td>{{task.start}}</td>
    <td>{{task.end}}</td>
  </tr>

</table>
